body {
  background-color: #333;
  font-family: sans-serif;
  color: white;
}

.popup {
  position: fixed;
  left: calc(50% - 105px);
  bottom: 150px;
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: lightcoral;
  border-radius: 20px;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.popup--show {
  transform: scale(1);
}
